* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    color: #fff;
    background-color: #000;
}

a {
    color: #222dbd;
    transition: 0.5s;
    text-decoration: none;
}

a:hover {
    color: #088afc;
}

input {
    padding: 5px;
}

input:focus {
    outline: none;
}

ul,
li {
    list-style: none;
}

::-webkit-scrollbar {
    width: 5px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-thumb {
    background-color: #222dbd; /* Cor do botão de rolagem */
}

::-webkit-scrollbar-track {
    background-color: #000; /* Cor da trilha da barra de rolagem */
}